<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiabilityPredictor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom -->
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/error.js" type="module"></script>
    <script src="/static/molecule-card.js" type="module"></script>
    <script src="/static/options.js" type="module" defer></script>
    <script src="/static/single-smiles.js" type="module" defer></script>
    <script src="/static/smiles-csv_v3.js" type="module" defer></script>
    <script src="/static/load-jme.js" type="module" defer></script>
    <!-- Argon Design System -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/argon-design-system-free@1.2.0/assets/css/nucleo-icons.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link type="text/css" href="https://cdn.jsdelivr.net/npm/argon-design-system-free@1.2.0/assets/css/argon-design-system.min.css" rel="stylesheet">

    <script type="text/javascript" language="javascript" src="static/jsme/jsme.nocache.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.5/perfect-scrollbar.min.js" integrity="sha512-X41/A5OSxoi5uqtS6Krhqz8QyyD8E/ZbN7B4IaBSgqPLRbWVuXJXr9UwOujstj71SoVxh5vxgy7kmtd17xrJRw==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="https://unpkg.com/@popperjs/core@2" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/argon-design-system-free@1.2.0/assets/js/argon-design-system.min.js" defer></script>


</head>
<body data-new-gr-c-s-check-loaded="8.904.0" data-gr-ext-installed="" data-new-gr-c-s-loaded="8.904.0">
    <main id="content">
        <div id="web-header-content">
            <img src="./static/logo_main_large_text2.png" alt="" style="float: left; height: 100px; padding: 5px;">
            <h1 class="display-4" id="title" style="vertical-align: middle; line-height: 100px;">LiabilityPredictor: an assay liability calculator</h1>
        </div>
        <div style="position: relative">
            <p>This is an online web portal to estimate whether a given compound might be a liability for a given assay as described in PAPER LINK. To use, enter SMILE in the box below, or draw a compound and hit load SMILES, then click "Get Properties". Results will appear below. By default, all models for all endpoints will be run. You can choose to turn off certain endpoints in the options' sidebar. Fragment contribution maps are generated with RDKit. To turn on the maps, check the "Display contribution maps" in the options' sidebar. It defaults to off because the maps will increase the runtime significantly, so if using please be patient</p>
            <p>Please cite [PAPER REF GOES HERE]. Models and code for this webserver can be found <a href="https://github.com/jimmyjbling/LiabilityPredictor">here</a>.</p>
        </div>
            <div id="forms-wrapper">
            <div class="search-wrapper">
                <div class="single-search-wrapper">
                    <div class="form-wrapper">
                        <form id="single-smiles-form" class="smiles-form">
                            <div class="input-group">
                                <input class="form-control" type="text" id="smiles-input" placeholder="Enter SMILES" value="OCCc1c(C)[n+](cs1)Cc2cnc(C)nc2N">
                            </div>
                            <button class="btn btn-default" title="Get properties of molecule from SMILES string." type="submit">
                                Get Properties
                            </button>
                        </form>
                    </div>
                </div>
                <hr class="style1">
                <div class="multi-search-wrapper">
                    <form id="multi-smiles-form" class="smiles-form">
                        <p>You can also generate a CSV of the results by entering compounds below, seperated by commas or new lines. fragment contribution maps will not be generated for CSV. Large numbers of SMILES and models wil take a long time to process, be patient. It is recommended that is number of SMILES * number of model is > 100 to instead use the <a href="https://github.com/jimmyjbling/LiabilityPredictor">local standalone calculator</a> instead of this webserver.</p>
                        <textarea class="form-control" id="multi-smiles" cols="30" rows="5" placeholder="Enter multiple SMILES strings as a comma or new line separated list and generate a .csv file."></textarea>
                        <input class="form-control" type="file" id="smiles-file">
                        <p>When uploading a SMILES file make sure smiles are newline seperated (ei a csv with one column and each row is a SMILES). Uploaded files will auto-populate the text area, wait to generate csv until you see them in the box.</p>
                        <div class="hidden loading-wrapper-csv" style="text-align: center;"><img src="https://i.stack.imgur.com/MnyxU.gif" alt="LOADING..."></div>
                        <button class="btn btn-default" title="Generate a CSV file containing molecular properties from multiple SMILES strings" type="submit">
                            <i class="ni ni-cloud-download-95"></i>Generate CSV
                        </button>
                        <h5>Sorry, csv generation will not work on safari, use chrome, edge or firefox</h5>
                    </form>
                    <div class="error-wrapper hidden">
                        <small id="error-message"></small>
                    </div>
                </div>
            </div>
            <div class="options-wrapper">
                <div class="jme-wrapper">
                    <form id="draw-smiles-form" class="draw-form">
                        <div code="JME.class" name="JME" archive="JME.jar" width="360" height="315" id="JME">You have to enable JavaScript in your browser to use JSME! </div>
                        <div class="load_smiles_button">
                            <button class="btn btn-default" title="Get SMILES From JSME" type="submit">
                                Load SMILES
                            </button>
                        </div>
                    </form>
                </div>
                <div><p></p></div>
                <div class="options-sidebar">
                    <div class="options-icons">
                        <i id="options-dropdown-open" class="options-dropdown ni ni-bold-down"></i>
                        <i id="options-dropdown-close" class="hidden options-dropdown ni ni-bold-up"></i>
                        <i class="ni ni-settings-gear-65"></i>
                    </div>
                    <form id="search-options">
                        <p>Model Options</p>
                        <div class="option-item custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" type="checkbox" id="calculate_ad" name="calculate_ad" checked>
                            <label for="calculate_ad" class="custom-control-label">Calculate AD</label>
                        </div>
                        <div class="option-item custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" type="checkbox" id="make_prop_img" name="make_prop_img">
                            <label for="make_prop_img" class="custom-control-label">Display Fragment Contribution Maps</label>
                        </div>
                        <p>Enabled Models</p>
                    </form>
                </div>
            </div>
            <div class="hidden loading-wrapper" style="text-align: center;"><img src="https://i.stack.imgur.com/MnyxU.gif" alt="LOADING..."></div>
            <div class="hidden molecule-wrapper">
                <h4 class="display-4">Results</h4>
                <div id="molecule_smile_string"></div>
                <div id="molecule-svg"></div>
                <div class="molecule-properties" id="dummy-preds"></div>
            </div>
        </div>
        <div>
            <p style="color: #a5a3a3">Developed by James Wellnitz of the <a href="http://34.171.188.194/">MML @ UNC</a></p>
              <p style="color: #a5a3a3">Supported by the National Institute of General Medical Sciences of the National Institutes of Health under Award Number T32GM135122 and National Institute of Allergy and Infectious Diseases of the National Institutes of Health under Award Number U19AI171292. The content is solely the responsibility of the authors and does not necessarily represent the official views of National Institutes of Health</p>
              <p style="color: #a5a3a3">&copy; 2022, all rights reserved</p>
        </div>
    </main>
</body>
</html>
